*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-height: 100vh;
    background-color: #eee;
}

.boton{
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #09f;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    font-family: sans-serif;
    transition: background-color 0.2s;

    &:hover{
        background-color: rgb(0, 117, 196);
    }
}

.controles{
    & .input-threshold{
        position: relative;
        display: inline-flex;
        justify-content: center;
        cursor: pointer;

        &:not(:disabled):hover:after{
            content: "Threshold: " attr(data-value);
            position: absolute;
            top: 1.25rem;
            padding: .25rem .5rem;
            background: #09f;
            color: #fff;
            border-radius: 5px;
        }
    }
}

.imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & img{
        width: 200px;
        height: 200px;
        border: 2px solid black;
        border-radius: 5px;
        transition: scale 0.2s;
        cursor: pointer;

        &:hover{
            scale: 1.1;
        }
    }
}